/* CSS Document */

#image {
    display: block;
    height: 530px;
    width: 770px;
	margin:auto;
	overflow:hidden;
	margin-bottom:25px;
	box-shadow:1px 1px 13px #505050;
}

#image img {
	height:100%;
	display:block;
	margin:auto;
}
#grid1404 {
	width:660px;
	margin:auto;
	display:block;
}
#grid1404 img {
	margin-right:5px;
	margin-bottom:5px;
}
.thumb:hover {
	box-shadow:1px 1px 13px #06F;
}