@charset "utf-8";

a,
img {
	border: none;
}

body {
	background: url("../images/bg.gif") #5e524f;
	font-family: "Verdana", "Geneva", sans-serif;
}

.mainwrap {
	width: 1020px;
	margin: auto;
}

/* top */
.top {
	margin: 79px 0 15px;
	background-color: #fff;
	height: 126px;
	box-shadow: 0 0 17px #202020;
}

.logo {
	position: relative;
	top: 29%;
	left: 50px;
}

.logo img {
	width: 539px;
}

.logolink {
	width: 30%;
	display: block;
	height: 50px;
}

#floater {
	left: 91px;
	position: relative;
	top: 36px;
}

.primary-home {
	left: 576px;
	position: relative;
	top: -30px;
	width: 451px;
}

.primary {
	left: 630px;
	position: relative;
	top: -30px;
	width: 451px;
}

.top1 {
	background-color: #fff;
	box-shadow: 0 0 17px #202020;
	display: block;
	height: 126px;
	margin: 21px 0 -5px;	
}

.topnav {
	position: relative;
	top: 50%;
	width: 200px;
}

.topnavitem {
	display: inline-block;
	width: 99px;
	border-right:1px solid #c3c0bf;
	height: 50px;
	text-align:center;
	margin-left:-6px;
}

.lastitem {
	border: none;
}

.topnavitem a {
	line-height: 46px;
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 50px;
}

.topnavitem:hover {
	background-color: #ff6015;
}

.topnavitem a:hover {
	color: #fff;
}

.callbox {
	background-color: white;
	border: 1px solid black;
	display: block;
	float: right;
	height: 64px;
	left: -16px;
	position: relative;
	top: -203px;
	width: 245px;
	z-index: -1;
	border-radius: 26px 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.callbox h4 {
	font-size: 30px;
	margin: -42px 0 0 44px;
	text-align: center;
}

#phoneicon {
	width: 40px;
	margin: 5px 0 0 5px;
}

/* middle */

.middle {
	margin: 0 0 15px 0;
	background-color: #fff;
	height: 493px;
	display: block;
	box-shadow: 0 0 17px #202020;
}

.slidercontainer {
	left: 5px;
	position: relative;
	top: 36px;
	width: 760px;
}

.slidercontainer em {
	color: #908889;
}

#bannerimg {
	width: 669px;
}

.sidecontent {
	left: 770px;
	position: relative;
	top: -363px;
	width: 300px;
}

.griditem {
	width: 100px;
	height: 100px;
	margin: 3px;
	display: inline-block;
	border: 1px solid black;
	overflow: hidden;
	background: rgba(51,51,51,0.5);
}

.griditem:hover {
	box-shadow: 0 0 15px #555;
	border: 1px solid white;
	cursor: pointer;
}

.viewmore {
	background-color: #262626;
	display: inline-block;
	left: 3px;
	position: relative;
	top: 13px;
	height: 32px;
	width: 102px;
	text-align: center;
}

.viewmore a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	width: 100%;
	height: 32px;
	line-height: 33px;
	display: block;
}

.viewmore a:hover {
	background-color: #555;
}

/* bottom */

.bottom {
	margin: 0 0 15px 0;
	background-color: #fff;
	height: 300px;
	display: block;
	box-shadow: 0 0 17px #202020;
}

.bottomwrap {
	position: relative;
	top: 22px;
	left: 41px;
	width: 938px;
	color: #908889;
}

.bottomthird {
	width: 33%;
	height: 250px;
	border-right: 1px solid #d2d0d0;
	display: inline-block;
	margin-left: -6px;
}

.mainbodycontent h1 {
	text-align: center;
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: 100;
}

.bottomthird h2 {
	color: #61595a;
	font-family:"Trebuchet MS", "Arial", "Helvetica", sans-serif;
	font-size: 2.4em;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0 0 0.75em;
	text-transform: uppercase;
}

.bottomthird p {
	font-size: 18px;
	margin-right: 10px;
}

.thirdcontainer {
	float: left;
	left: 20px;
	position: relative;
	top: -1px;
	text-align: center;
}

#mappic {
	display: block;
	width: 269px;
	position: relative;
	top: -10px;
}

.bottomlast {
	border:none;
}

.reviewsbutton {
	display: block;
	width: 160px;
	height: 40px;
	border: 1px solid #000;
	margin: auto;
	line-height: 38px;
	background: #ff6015;
	background: -moz-linear-gradient(top,  #ff6015 0%, #a84014 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6015), color-stop(100%,#a84014));
	background: -webkit-linear-gradient(top,  #ff6015 0%,#a84014 100%);
	background: -o-linear-gradient(top,  #ff6015 0%,#a84014 100%);
	background: -ms-linear-gradient(top,  #ff6015 0%,#a84014 100%);
	background: linear-gradient(to bottom,  #ff6015 0%,#a84014 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6015', endColorstr='#a84014',GradientType=0 );
}

.reviewsbutton a {
	text-decoration: none;
	width: 100%;
	height: 40px;
	color: #fff;
	display: block;
}

.reviewsbutton a:hover {
	background: #ff6015;
	box-shadow: 0 0 12px #555;
}

.mainbodycontent{
	left: 32px;
	position: relative;
	top: 32px;
	width: 953px;
}

/* footer */

.footer {
	font-size: 90%;
	color: white;
}

.footer a {
	color: white;
}

.footerthird {
	width: 29%;
	display: inline-block;
	padding: 15px;
}

.firstthird {
	float: left;
}

.firstthird ul {
	list-style-type: circle;
	margin-left: -12px;
}

.firstthird li {
	display: block;
	border-bottom: 1px solid #d2d0d0;
	width: 200px;
}

.firstthird li:hover {
	background: rgba(255,108,17,1);
}

li.lastlicat {
	border: none;
}

.firstthird a {
	text-decoration: none;
	width: 100%;
	display: block;
	height: 30px;
	margin: 0 0 0 5px;
	line-height: 29px;
}

.lastthird {
	float: right;
	left: 103px;
	position: relative;
	top: -173px;
	width: 40%;
}

#32225794880865 {
	margin-left: -22px;
}

.jotform-form {
	display: inline-block;
	width: 67px;
	margin-top: 5px;
}

.jotform-form input{
	background: url("../images/bg.gif");
	border: 1px solid #fff;
	color: #fff;
	padding: 7px;
	width: 200px;
}

.form-textbox {
	color: white !important;
}

.footerthird h3 {
	text-transform: uppercase;
}

.copyright {
	text-align: center;
	font-size: 12px;
	clear: both;
	margin: 123px 0 90px;
}

#image img {
	max-width: 100%;
	width: auto;
	margin: 0 auto 50px;
	height: auto;
	display: block;
}